SUPABASE_URL=https://SEU-PROJETO.supabase.co
SUPABASE_ANON_KEY=cole_aqui_a_anon_key
SUPABASE_SERVICE_ROLE_KEY=cole_aqui_a_service_role_key
SUPABASE_DB_URL=postgresql://postgres:SENHA@db.SEUPROJETO.supabase.co:5432/postgres
GENIUS_MODULE=Mod_Gestao_Unidade_Agricola
GENIUS_SCHEMA=unidade_agricola
